body{
    background-color: 	#323232;
}
.header {
  text-align: center;
  color: black;
}
p{
    font-size: 35px;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 30px;
}

.TimeSlot{
    align-items: center;
    padding: 35px 100px;
    font-size: 20px;
}

hr{
    margin: 0px 0px;
    border: 1px solid black;


}

input{
    background-color: 	#323232;
    margin-right: 50px;
    margin-left: 50px;
}

.red { 
    background-color: #d1324a
    
}
.red input{
    background-color: transparent;
    border: #323232 1px solid;
    color: black;
}

.red input:focus {
    background-color: transparent;
    border: #323232;
    color: black;
}
.red button{
    background-color: #831f2d;
    color: slategray;
    border: #323232;
}
.red button:focus , .red button:active , .red button:hover {
    background-color: #831f2d;
}

.green{
    background-color: #047a04;
}

.green input{
    background-color: transparent;
    border: #323232 1px solid;
    color: black;
}

.green input:focus {
    background-color: transparent;
    border: #323232;
    color: black;
}
.green button{
    background-color: #025402;
    color: slategray;
    border: #323232;
}

.green button:focus , .green button:active , .green button:hover {
    background-color: #025402;
}

.blue{
    background-color: #315deb;
}

.blue input{
    background-color: transparent;
    border: #323232 1px solid;
    color: black;
}

.blue input{
    background-color: transparent;
    border: #323232 1px solid;
    color: black;
}
.blue input:focus {
    background-color: transparent;
    border: #323232;
    color: black;
}

.blue button{
    background-color: #1c3687;
    color: slategray;
    border: #323232;
}

.blue button:focus , .blue button:active , .blue button:hover {
    background-color: #1c3687;
}
